.orange-linear {
  background-image: linear-gradient(to right, $orange-left, $orange-right);
}

.pink-linear {
  background-image: linear-gradient(to right, $pink-left, $pink-right);
}

.purple-linear {
  background-image: linear-gradient(to right, $purple-left, $purple-right);
}

.green-linear {
  background-image: linear-gradient(to right, $green-left, $green-right);
}
.border-horizontal {
  border-right: 2px solid $white-color;
  border-left: 2px solid $white-color;
}

.border-horizontal-yellow {
  border-right: 2px solid $deep-orange;
  border-left: 2px solid $deep-orange;
}
.box-1 {
  .card-body {
    padding-bottom: $padding-vertical;
    h5 {
      padding: 0 $padding-horizontal;
    }
  }
}
.box-1-element {
  > .content {
    text-align: center;
    height: 168px;
    .content-child {
      color: $white-color;
      width: 100%;
      font-size: $medium-title;
    }
  }
  > .image {
    text-align: center;
    padding-bottom: 24px;
  }
}

//end box - 1//
// box 2

.box-2 {
  .card-body{
    padding-bottom: 82px;
  }
  .content {
    padding-left: 30px;
    .content-text {
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: $medium-title;
      color: $white-color;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}

//box 3

.box-3 {
  img {
    width: 100%;
    height: 100%;
  }
  .icon-cranes {
    margin: auto;
    height: 110px;
    width: 128px;
  }
  .content {
    padding: 15px 0;
    text-align: center;
    font-size: $small-title;
    color: $white-color;
    .content-child {
      width: 100%;
    }
  }
  .image-list {
    .image-list-child {
      padding-top: 21px;
    }
  }
}
// box-4
.box-4 {
  padding: 0 15px;
  position: absolute;
  bottom: 0;
  .content {
    padding-left: 30px;
  }
  .content-2 {
    margin-top: 32px;
  }
  .card-title-2 {
 //   height: 186px;
  }
  .banner-1 {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .card-title-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-title-2 {
    color: $black-color;
    font-size: 38px;
  }
}
// box 5

.box-5 {
  .content {
    padding-left: 30px;
    .content-text {
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: $small-title;
      color: $white-color;
    }
    .content-image {
      width: 410px;
      height: 236px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.box-6 {
  height: 100%;
  .content {
    .content-image {
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 317px;
      height: 160px;
    }
    .content-text {
      font-size: 35px;
      color: $white-color;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

// box 7
//DG
.DG {
  font-weight: bold;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-size: $medium-title;
  font-size: 2.5vw;
  color: $white-color;
  // width: 216px;
  width: 11vw;
  height: 88px;
  margin-top: 35px;
}
.box-7 {
  height: 100%;
  .card-body {
    padding-bottom: 75px;
  }
}

//box 8

.box-8 {
  img {
    width: 100%;
    height: 100%;
  }
  .content {
    padding-left: 30px;
    .content-child-first {
      font-size: 35px !important;
    }
    .content-child {
      text-align: center;
      font-weight: bold;
      color: $black-color;
      font-size: $medium-title;
    }
  }
  .content-2 {
    padding-left: 30px;
    margin-top: 25px;
  }
}

//box 9
.box-9 {
  height: 100%;

  .image-list {
    bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
    .image-list-child {
      padding-top: 21px;
    }
  }
}
.activity {
  margin-left: auto;
  margin-right: auto;
  .number {
    font-weight: bold;
  }
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3vw;
  color: $white-color;
  width: 26vw;
  height: 74px;
  margin-top: 35px;
}

//box-10

.box-10 {
  .card-body .row{
     padding: 0 0px !important;
  }
  height: 100%;
  .content {
    justify-content: center;
    color: $white-color;
    font-size: $medium-title;
    margin-top: 30px;
    .box-10-content-title {
      padding: 0 30px;
    }
    .box-10-content-list {
  
    }
    ul {
      list-style-type: none;
      li:before {
        content: "✓";
        padding-right: 15px;
      }
    }
  }
  .image-list {
    position: absolute;
    bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
    .image-list-child {
      padding-top: 21px;
    }
  }
}

