.box-circle {
  background: $invisible;
  border: none;
  max-width: 100%;
  margin: auto;
  > .card-header {
    position: relative;
    height: 80px;
    background: $invisible;
    border: none;
    font-style: italic;
    font-family: "Androgyne";
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $big-title;
    color: $blue-icon;
    font-weight: bold;
    background: $white-background;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    //centering
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .card-body {
    padding-top: $padding-vertical;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  //  @include box-content($blue-background, auto);
  }
}

@media screen and (max-width: 992px) {
  .box-circle {
    .circle {
      justify-content: center;
      font-size: $big-title-mobile;
      width: 80px;
      height: 80px;
      //centering
      transform: translate(-50%, -10%);
    }
    .card-body {
      padding-top: $padding-vertical-mobile;
      border-top-left-radius: unset;
      border-bottom-right-radius: unset;
      border-radius: 15px;
    //  @include box-content($blue-background, auto);
    }
  }
}