// font-size
$big-title: 60px;
$medium-title: 45px;
$small-title: 30px;
////////////font-size-mobile///////////////
$big-title-mobile: 30px;
$medium-title-mobile: 23px;
$small-title-mobile: 18px;
// end font-size 

//background
$white-background: #ffffff;
$blue-background: #0378e2;
$green-background: #37bcaf;
$middle-blue-background: #489be7;
$yellow-background: #ffd27a;
$invisible: rgba(255, 255, 255, 0);
$light-blue-background: #dff3fd;

// lieaner gradian

$orange-right: #f05926;
$orange-left: #F19F43;
$pink-right: #ef9390;
$pink-left: #e95579;
$purple-left: #814a92;
$purple-right: #7e659f;
$green-left: #4ab06e;
$green-right: #77c376;

// font color

$blue-icon: #0378e2;
$black-color: #4d4d4f;
$white-color: #ffffff;
$blue-color: #006fba;
$deep-orange: #C3732E;
//padding
$padding-horizontal:  14px;
$padding-vertical: 82px;
//padding mobile
$padding-horizontal-mobile:  14px;
$padding-vertical-mobile: 41px;
// end padding